*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $main-bg-color;
    font-family: $main-font;
    color: $main-text-color;
}

a{
    display: block;
    color: cyan;
    margin: 1rem 0;
}